@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Marcellus&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Marcellus', serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* header */

header {
    background-color: darkgreen;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    position: fixed;
    z-index: 89;
    width: 100%;
}

h1 {
    font-family: 'Concert One', sans-serif;
    padding: 10px;
}

nav {
     position: absolute;
     background-color: darkgreen;
     width: 100%;
     left: 0;
     padding: 0 1rem;
     box-shadow: 0 2px 2px #3a3a3a;
     display: none;
     top: 100%;
     list-style: none;
}

/* drop-down menu*/
#link-menu:checked~nav{
    display: block;
}
#link-menu {
    display: none;
}
.link-menu {
    font-size: 2rem;
    padding-right: 10px;
}

#auto {
    padding-left: 5px;
    font-size: larger;
}

a {
    text-decoration: none;
    color: antiquewhite;
}


/* main content */

main {
    flex: 1 0 auto;
    background-color: cadetblue;
    margin-top: 47px;
}

#offer {
    border-bottom: 3px solid #3a3a3a;
    padding: 30px 10px;
    font-size: 140%;
    text-align: center;
}

#offer h2 {
    margin-bottom: 10px;
}

img {
    width: 260px;
    height: 250px;
    padding: 10px;
}

#offer h2 {
    text-decoration: underline;
}

#services {
    border-bottom: 3px solid #3a3a3a;
}

#service-tag {
    font-size: 160%;
    text-align: center;
    text-decoration: underline;
}

#services p {
    padding: 15px;
    font-size: 130%;
}

#list {
    padding: 20px;
    font-size: 100%;
}

p {
   text-align: center;
   margin-left: 10px;
}

/* css styles for get a quote section*/
 
#form {
    max-width: 100%;
    text-align: center;
    font-size: 1em;
 }

 #form_head {
    font-size: 160%;
    padding: 20px;
    text-decoration: underline;
 }

 .contact {
    color: black;
    font-size: 1.5em;
    margin-top: 20px;
 }

 .box {
        color: darkslategrey;
    }

  #submit {
        margin: 20px;
        font-size: 100%;
    }


#contact {
    background-color: cadetblue;
    border-top: 3px solid #3a3a3a;
}

#contact-head{
    font-size: 160%;
    text-align: center;
    padding: 15px;
    text-decoration: underline;

}

#contact-p1{
  font-size: 120%;
  text-align: center;
}

#contact-p2 {
    font-size: 120%;
    text-align: center;
    padding: 10px 0;

}

/* Footer */

footer {
    padding-top: 10px;
    background-color: darkgreen;
}

#footer-tel {
    text-align: center;
    font-size: 110%;
    text-decoration: underline;
}

#social-link {
    color: antiquewhite;
    text-align: center;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 140%;
}

 /* Media Query to display project on tablets */
@media screen and (min-width: 768px) {
    
    /* header */
    nav {
      display: block;
      position: relative;
      width: fit-content;
      padding-right: 1rem;

    }

    #offer {
        margin-top: 50px;
        font-size: 200%;
    }

    img {
        width: 500px;
        height: 500px;
    }

    /* main content */
    
    #services {
      border-bottom: 5px solid #3a3a3a;
      font-size: 200%;
    }

    #form {
        font-size: 160%;
        height: auto;
        width: auto;
    }
}
