@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Marcellus&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Marcellus', serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* header */

header {
    background-color: darkgreen;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

h1 {
    font-family: 'Concert One', sans-serif;
    padding: 10px;
}

nav {
     position: absolute;
     background-color: darkgreen;
     width: 100%;
     left: 0;
     padding: 0 1rem;
     box-shadow: 0 2px 2px #3a3a3a;
     display: none;
     top: 9%;
     list-style: none;
}

/* drop-down menu*/
#link-menu:checked~nav{
    display: block;
}
#link-menu {
    display: none;
}
.link-menu {
    font-size: 2rem;
    padding-right: 10px;
}

#auto {
    padding-left: 5px;
    font-size: larger;
}

#auto a {
    color: aliceblue;
    text-decoration: none;
}


/* main content */

main {
    flex: 1 0 auto;
    background-color: cadetblue;
}

#offer {
    padding: 30px 10px;
    font-size: 160%;
}

#oil {
    
}
#services {
    border: 3px solid #3a3a3a;
    font-size: 160%;
}

#list {
    padding: 20px;
}

p {
    padding: 10px;
}

/* css styles for get a quote section*/
 
#form {
    max-width: 100%;
    text-align: center;
    font-size: 1em;
    padding: 20px;
 }

 #form_head {
    font-size: 140%;
 }

 .contact {
    color: black;
    font-size: 1.5em;
    padding-top: 20px;
 }

 .box {
        color: blueviolet;
    }

/* footer */

footer {
    background-color: darkgreen;
}

#footer-tag {
    font-size: 160%;
    text-align: center;
    padding: 15px;

}

#footer-p {
  font-size: 120%;
  text-align: center;
}

.social-link {
    text-decoration: none;
    color: antiquewhite;
    display: flex;
    flex-direction: column-reverse;
    
}