@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Marcellus&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Marcellus', serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* header */

header {
    background-color: darkgreen;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    position: fixed;
    z-index: 89;
    width: 100%;
}

h1 {
    font-family: 'Concert One', sans-serif;
    padding: 10px;
}

nav {
     position: absolute;
     background-color: ;
     width: 100%;
     left: 0;
     padding: 0 1rem;
     box-shadow: 0 2px 2px #3a3a3a;
     display: none;
     top: 100%;
     list-style: none;
}

/* drop-down menu*/
#link-menu:checked~nav{
    display: block;
}
#link-menu {
    display: none;
}
.link-menu {
    font-size: 2rem;
    padding-right: 10px;
}

#auto {
    padding-left: 5px;
    font-size: larger;
}

a {
    text-decoration: none;
    color: antiquewhite;
}


/* main content */

main {
    flex: 1 0 auto;
    background-color: white;
    margin-top: 47px;
}

#offer {
    font-size: 140%;
    margin-top: 30px;
    width: 100%;
    border-bottom: 3px solid #3a3a3a;
}

#offer h2 {
    margin-bottom: 10px;
    text-align: center;
}

#offer h2 {
    text-decoration: underline;
}

#services {
    border-bottom: 3px solid #3a3a3a;
}

#service-tag {
    font-size: 160%;
    text-align: center;
    text-decoration: underline;
}

#services p {
    padding: 15px;
    font-size: 130%;
}

#list {
    padding: 20px;
    font-size: 100%;
}

p {
   text-align: center;
   margin-left: 10px;
}

/* css styles for get a quote section*/
 
#form {
    font-size: 110%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
}

input{
    width: 80%;
    margin-left: 25px;
}

select {
    width: 80%;
    margin-left: 25px;
}

#form>label{
    margin-top: 10px;
}

#submit {
        margin: 20px;
        font-size: 100%;
    }

/* Contact section (Mobile) */
#contact {
    background-color: white;
    text-align: center;
    padding: 15px;
}

#contact>h2{
    text-decoration: underline;
    margin-bottom: 10px;
}

#contact>p{
  font-size: 120%;
  text-align: center;
  margin: 10px;
}

#contact img{
  width: 260px;
  height: 260px;
}

/* Footer */

footer {
    padding-top: 10px;
    background-color: darkgreen;
}

#footer-tel {
    text-align: center;
    font-size: 110%;
    text-decoration: underline;
}

#social-link {
    color: antiquewhite;
    text-align: center;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 140%;
}

 /* Media Query to display project on tablets */
@media screen and (min-width: 768px) {
    
    /* header */
    nav {
      display: block;
      position: relative;
      width: fit-content;
      padding-right: 1rem;

    }

     #page-links {
        display: flex;
        list-style-type: none;
    }

    #page-links > li {
       padding-left: 1rem;
    }

    #car {
        display: none;
    }

    #offer {
        margin-top: 25px;
        font-size: 200%;
    }

    img {
        width: 500px;
        height: 500px;
    }

    /* main content */
    
    #services {
      border-bottom: 5px solid #3a3a3a;
      font-size: 200%;
    }

    #form {
        font-size: 160%;
    }

    #list {
        margin-left: 10px;
    }

    #form-inputs {
        width: 400px;
        height: 400px;
        display: inline-block;
    }
}
